.logo-icon img{
  width: 50px;
  height: 35px;
}

.logo-icon{
  text-align: right;
  margin-bottom: 15px;
}

.product-item{
  box-shadow: 0px 0px 12px #ccc;
  margin-bottom: 35px;
  min-height: 500px;
}

.img-container img{
  width: 100%;
}

.content-container{
  padding: 15px;
  border-top: 1px solid #eee;
}